<pre class="code">
<span class="srcline"><span class="lineno"><a href="1,1" id="srcline1"> 1</a></span><span class="line"><span class="keyword">function</span> <span class="var type0" id="S2T0U3">yHat</span> = GHatz(<span class="var type1" id="S3T1U6">u</span>)</span></span>
<span class="srcline"><span class="lineno"><a href="1,2" id="srcline2"> 2</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,3" id="srcline3"> 3</a></span><span class="line"><span class="comment">% yHatOld has start value 0</span></span></span>
<span class="srcline"><span class="lineno"><a href="1,4" id="srcline4"> 4</a></span><span class="line"><span class="var type0" id="S2T0U9">yHat</span>=exp((<span class="mxinfo " id="T1:U2">-<span class="mxinfo " id="T1:U3">0.12</span></span>*<span class="message error" id="M1F1C">h</span>)*<span class="var type0" id="S6T0U20">yHatOld</span>+(2.25/0.12)*(1-e^(-0.12*h))*<span class="var type0" id="S3T0U39">u</span>);</span></span>
<span class="srcline"><span class="lineno"><a href="1,5" id="srcline5"> 5</a></span><span class="line"><span class="var type0" id="S6T0U42">yHatOld</span>=<span class="var type0" id="S2T0U43"><span class="message error" id="M2F1C">yHat</span></span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,6" id="srcline6"> 6</a></span><span class="line"><span class="keyword">return</span>;</span></span>
<span class="srcline"><span class="lineno"><a href="1,7" id="srcline7"> 7</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,8" id="srcline8"> 8</a></span><span class="line"></span></span>
<span class="srcline"><span class="lineno"><a href="1,9" id="srcline9"> 9</a></span><span class="line"></span></span>
</pre>
